*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}
.header_container{
    width: 100%;
    height: auto;
    background-color: #fff
}
.header_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0

}
.header_content h1{
    font-size: 2.7rem;
    font-weight: 700;
}
.header_content p{
    font-weight: 400;
    font-size: 2.3rem
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);
}
.main_content{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0;
}
.card_container{
    width: 100%;
    min-width: 288px;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    background: rgba( 16, 47, 57, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card_container .card_info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 90%;
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}
.card_info h2{
    font-size: 1.8rem;
    color: #fff;
}
.card_info img{
    width: 90px;
    height: 90px;
}
.card_info form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: auto;
}
.card_info label{
    font-size: 1.5rem;
    color: rgb(225, 238, 244);
}
.card_info input{
    width: 70%;
    height: 30px;
    border: 2px solid #80afe7;
    padding: 12px;
    border-radius: 20px;
    background-color: rgba( 16, 47, 57, 0.5 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    color: rgb(225, 238, 244);
}
.card_info input::placeholder{
    color: rgb(202, 208, 211);
}

.card_info button{
    min-width: 190px;
    max-width: 260px;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 8px;
    color: #fff;
    background-color: #5b86b1;
    box-shadow: 0 0 20px rgba(0,0,0,0.100);
    cursor: pointer;
}
.card_info button:hover{
    background-color: #2f6ed3;
}
.card_info p{
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    height: 20%;
    min-height: 42px;
    max-height: 70px;
    border: 2px solid #80afe7;
    padding: 8px;
    border-radius: 20px;
    background-color: rgba( 16, 47, 57, 0.5 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    color: rgb(225, 238, 244);
    font-size: 1.5rem;
}

.footer_container{
    width: 100%;
    height: 10vh;
}
.footer_container .footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}
.footer_container .footer_content p{
    font-size: 1.9rem
}