*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

.header_container{
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #ffefba, #ffffff);
}

.header_container div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    
}
.header_container h1{
    font-size: 3rem;
    font-weight: 700;
}
.header_container p{
    font-size: 2.3rem;
    font-weight: 400;
}

.main_container{
    width: 100%;
    height: auto;
    background-color: #fdde48;
}

.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.card_container{
    width: 100%;
    max-width: 400px;
    min-height: 460px;
    background-color: #fdfdfd;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.100)
}
.main_container .card_container--square{
    min-height: 300px;
}
.main_container .card_container--circle{
    min-height: 300px
}
.card_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.card_info h2{
    font-size: 1.44rem;
    color: #000;
}
.card_info form{
    display: flex;
    height: auto;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
}
.card_info label{
    font-size: 1.3rem;
    font-weight: 400;
}
.card_info input{
    width: 70%;
    height: 30px;
    border: 2px solid #fdde48;
    padding: 12px;
    border-radius: 20px;
}
.card_info input::placeholder{
    font-family: 'Oswald', sans-serif;
}
.card_buttons{
    display: flex;
    gap: 30px;
}
.card_buttons button{
    width: 120px;
    height: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    padding: 5px;
    color: white;
    background-color: #000;
    box-shadow: 0 0 20px rgba(0,0,0,0.100);
    cursor: pointer;
}
.card_info .card_buttons button:hover{
    background-color: rgb(248, 235, 47);
    color: #000;
}
.card_container--circle .card_buttons button{
    width: 81px;
    height: 50px;
    padding: 5px;
    border-radius: 50px;
}
.footer_container{
    width: 100%;
    height: auto;
    background-color: linear-gradient(to right, #ffefba, #ffffff);
}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 90%;
    margin: 0 auto;
}
.footer_container p{
    text-align: center;
    font-size: 1.9rem;
}